/myenv
moni.csv
output.csv
1. Extracting_Comments.py
2. Libraries.py
3. Sentiment Analysis VADER.py
4. Removing Stopwords.py
5. Text_preprocessing.py
6. Sampling.py
7. Naive_bayes.py
8. Pie Chart.py

capsule_network_weights.weights.h5
check1.csv